ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C3073F;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #950740;
  }

  .nav-welcome {
      color: #1A1A1D;
      display: flex;
      align-items: center;
      padding: 14px 16px;
  }

  .search-bar {
    float: right;
    padding: 14px 16px;
  }

body{
   background-color: #1A1A1D;
   /* background: url("main_app/images/background.jpeg") 50% 0 no-repeat fixed;
   height: 650px;
   padding: 100px 0 0 0;    */
}


.homepage {
    
    justify-content: center;
    
}
.title {
    color: #C3073F;
    text-align: center;
    font-size: 50px;
}
img {
    width: 60%;
    margin: 0 auto;
    display: block;
    
    filter: drop-shadow(10px 10px 5px black);
}
.Wayfarer-is{
    text-align: center;
    color: #C3073F;
}
.title-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    color: #C3073F;
}
.title-1 {
    display: block;
    margin: 0 auto;
    padding: 20px;
}
.title-2{
    display: block;
    margin: 0 auto;
    padding: 20px;
}
.title-3{
    display: block;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #C3073F;
    text-align: center;
}

p {
    color: white;
}

h2{
    text-align: center;
    color: #C3073F;
}

.nav-link-profile {
    color: #C3073F;
}

.city-links {
    color: #C3073F;
}

.gallery-forum{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gallery-cities{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gallery-posts{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-header{
    text-align: center;
}
.Delete-title{
    text-align: center;
}
.button-delete{
  background-color: red;
  color: white;
  padding: 10px;
  margin: 8px 10px;
  border: none;
  cursor: pointer;
  width: 120px;
  opacity: 0.9;
  text-decoration: none;
}
.buttons{
    text-align: center;
}
.button-delete:hover{
    background-color:white;
    color: #1A1A1D;
    text-decoration: none;
}

.add-city-button button{
    width: 100px;
   position: fixed;
   margin-top: 24px;
   margin-left: 24px;
   background-color: #C3073F;
   color: white;
}
.add-city-button button:hover{
    background-color: #6F2232;
    color: white;
}
.city-button a{
    border-radius: 3px;
    border: 2px solid black;
    padding: 15px;
    text-decoration: none;
    background-color: black;
    
}
.button-cancel button{
    background-color:blue;
    color: white;
    margin: 24px;
    width: 120px;
    height: 35px;
    border-radius: 3px;
}
.button-cancel button:hover{
    background-color: white;
    color: blue;
}
.is-dark button{
    background-color: #C3073F;
    color: white;
    padding: 10px;
    margin-top: 24px;
}
.is-dark button:hover{
    background-color:#1A1A1D;
    color: white;
}

.search-button button{
    width: 100px;
    background-color: #C3073F;
    color: white;
}

.search-button button:hover{
    background-color: #1A1A1D;
    color: white;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

form {
    border: 2px solid #C3073F;
    background-color: #6F2232;
    border-radius: 15px;
    color: white;
    padding: 15px;
    width: 50%;
}

.profile-info {
    border: 2px solid #C3073F;
    background-color: #6F2232;
    border-radius: 15px;
    color: white;
    padding: 15px;
    height:fit-content;
}

.profile-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profile-pic {
    border: 2px solid #C3073F;
    background-color: #4E4E50;
    border-radius: 15px;
}

.add-city {
    display: block;
  	margin-left: auto;
	margin-right: auto;
}

.add-city-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profile-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-create {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profile{
    width: 100px;
    background-color: #C3073F;
    color: white;
}

.edit-profile:hover{
    background-color: #6F2232;
    color: white;
}

.add-post{
    width: 100px;
    background-color: #C3073F;
    color: white;
}

.add-post:hover{
    background-color: #6F2232;
    color: white;
}

.new-post{
    width: 100px;
    background-color: #C3073F;
    color: white;
}

.new-post:hover{
    background-color: #1A1A1D;
    color: white;
}

.update-profile{
    width: 120px;
    background-color: #C3073F;
    color: white;
}

.update-profile:hover{
    background-color: #1A1A1D;
    color: white;
}

.confirm-delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-detail{
    width: 120px;
    background-color: #C3073F;
    color: white;
    margin-bottom: 15px;
}

.post-detail:hover{
    background-color: #6F2232;
    color: white;
}
.profile-picture {
  margin: 0 auto;
  width: 60px;  
  border: 2px white solid;
  border-radius: 5%;
}
.main-profile-picture {
  margin: 0;
  width: 200px;  
  border: 5px white solid;
  border-radius: 5%;
}
.profile-preview {
  margin: 2px 10px;
}
