ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C3073F;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #950740;
}

.nav-welcome {
    color: #fdfbfb;
    display: flex;
    align-items: center;
    padding: 14px 16px;
    font-family: 'Rock Salt', cursive;
    font-size:20px;
}
.nav-link{
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
}

.search-bar {
    font-family: 'Inconsolata', monospace;
    float: right;
    padding: 14px 16px;
}

body{
    background-color: #1A1A1D;
    font-family: 'Zen Kurenaido', sans-serif;
    /* background: url("main_app/images/background.jpeg") 50% 0 no-repeat fixed;
    height: 650px;
    padding: 100px 0 0 0;    */
}


.homepage {
    
    justify-content: center;
    
}
.title {
    color: #C3073F;
    text-align: center;
    font-size: 25px;
}
img {
    width: 60%;
    margin: 0 auto;
    display: block;
    
    filter: drop-shadow(10px 10px 5px black);
}
.Wayfarer-is{
    text-align: center;
    color: #C3073F;
}
.title-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    color: #C3073F;
}
.title-1 {
    display: block;
    margin: 0 auto;
    padding: 20px;
}
.title-2{
    display: block;
    margin: 0 auto;
    padding: 20px;
}
.title-3{
    display: block;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #C3073F;
    text-align: center;
}

p {
    color: white;
}

h2{
    text-align: center;
    color: #C3073F;
}

.nav-link-profile {
    color: #C3073F;
}

.city-links {
    color: #C3073F;
}

.gallery-forum{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gallery-cities{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gallery-posts{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-header{
    text-align: center;
    padding: 15px;
}
.Delete-title{
    text-align: center;
}
.button-delete{
    font-family: 'Inconsolata', monospace;
    background-color: red;
    color: white;
    padding: 10px;
    margin: 8px 10px;
    border: none;
    cursor: pointer;
    width: 120px;
    opacity: 0.9;
    text-decoration: none;
}
.buttons{
    text-align: center;
}
.button-delete:hover{
    background-color:white;
    color: #1A1A1D;
    text-decoration: none;
}

.add-city-button button {
    font-family: 'Inconsolata', monospace;
    width: 100px;
    margin-top: 24px;
    margin-left: 24px;
    margin-bottom: 24px;
    background-color: #C3073F;
    color: white;
}
.add-city-button button:hover{
    background-color: #6F2232;
    color: white;
}
.city-button a{
    font-family: 'Inconsolata', monospace;
    border-radius: 3px;
    border: 2px solid black;
    padding: 15px;
    text-decoration: none;
    background-color: black;
    
}
.button-cancel button{
    background-color:blue;
    color: white;
    margin: 24px;
    font-family: 'Inconsolata', monospace;
    width: 120px;
    height: 35px;
    border-radius: 3px;
}
.button-cancel button:hover{
    background-color: white;
    color: blue;
}
.is-dark button{
    background-color: #C3073F;
    color: white;
    padding: 10px;
    margin-top: 24px;
}
.is-dark button:hover{
    background-color:#1A1A1D;
    color: white;
}

.search-button button{
    font-family: 'Inconsolata', monospace;
    width: 100px;
    background-color: #C3073F;
    color: white;
}

.search-button button:hover{
    background-color: #1A1A1D;
    color: white;
}

input[type=text] {
    font-family: 'Inconsolata', monospace;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

form {
    font-family: 'Inconsolata', monospace;
    border: 2px solid #C3073F;
    background-color: #6F2232;
    border-radius: 15px;
    color: white;
    padding: 15px;
    width: 50%;
}

.profile-info {
    border: 2px solid #C3073F;
    background-color: #6F2232;
    border-radius: 15px;
    color: white;
    padding: 15px;
    height:fit-content;
    margin-right: 15px;
}

.profile-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profile-pic {
    border: 2px solid #C3073F;
    background-color: #4E4E50;
    border-radius: 15px;
}

.add-city {
    display: block;
    margin-left: auto;
	margin-right: auto;
}

.add-city-form {
    font-family: 'Inconsolata', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profile-form {
    font-family: 'Inconsolata', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-create {
    font-family: 'Inconsolata', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-profile-container{
    justify-content: center;
    text-align: center;
}

.edit-profile {
    font-family: 'Inconsolata', monospace;
    width: 100px;
    background-color: #C3073F;
    color: white;
    margin-top: 25px;
    padding: 15px;
}

.edit-profile:hover{
    background-color: #6F2232;
    color: white;
}

.add-post button{
    font-family: 'Inconsolata', monospace;
    width: 100px;
    background-color: #C3073F;
    color: white;
    padding: 15px;
}

.add-post:hover{
    background-color: #6F2232;
    color: white;
}

.new-post{
    font-family: 'Inconsolata', monospace;
    width: 100px;
    background-color: #C3073F;
    color: white;
}

.new-post:hover{
    background-color: #1A1A1D;
    color: white;
}

.update-profile{
    font-family: 'Inconsolata', monospace;
    width: 120px;
    background-color: #C3073F;
    color: white;
}

.update-profile:hover{
    background-color: #1A1A1D;
    color: white;
}

.confirm-delete {
    font-family: 'Inconsolata', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-detail button{
    font-family: 'Inconsolata', monospace;
    width: 120px;
    color: white;
    background-color: #C3073F;
    margin-bottom: 15px;
    padding: 15px;
}


.post-detail:hover{
    background-color: #6F2232;
    color: white;
}

.city-search-button{
    font-family: 'Inconsolata', monospace;
    margin-top: 15px;
}
.city-search-button:hover{
    background-color: #6F2232;
}
.control{
    padding-top: 15px;
}
.button{
    font-family: 'Inconsolata', monospace;
    background-color: #C3073F;
    color: white;
}
.button:hover{
    background-color: #6F2232;
}
.card-header-title button{
    font-family: 'Rock Salt', cursive;
    background-color:#C3073F;
    color: white;
    padding: 15px;
    width: 100px;
}
.icon{
    justify-content: center;
    text-align: center;
}
.created-container{
    text-align: right;
}
.detail__img{
    margin-top: 15px;
}

.all-cities {
    width: 45%;
    float: left;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    
} 

.posts-city {
    width: 50%;
    float: right;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    height: auto;
    background-color: #4E4E50;
} 

.gallery-deets {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
}

.card-post {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.city-title {
    width: 100px;
}

.post-title {
    color: #1A1A1D;
}