ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(167, 167, 167);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .nav-welcome {
      color: rgb(0, 0, 0);
      display: flex;
      align-items: center;
      padding: 14px 16px;
  }

  .search-bar {
    float: right;
    padding: 14px 16px;
  }

body{
   background-color: #F8955B;
}


.homepage {
    
    justify-content: center;
    
}
.title {
    color: white;
    text-align: center;
    font-size: 50px;
}
img {
    width: 60%;
    margin: 0 auto;
    display: block;
    display: flex;
    filter: drop-shadow(10px 10px 5px black);
}
.Wayfarer-is{
    text-align: center;
    color: white;
}
.title-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    color: white;
}
.title-1 {
    display: block;
    margin: 0 auto;
    padding: 20px;
}
.title-2{
    display: block;
    margin: 0 auto;
    padding: 20px;
}
.title-3{
    display: block;
    margin: 0 auto;
    padding: 20px;
}
h2{
    text-align: center;
    color: white;
}

.gallery-forum{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gallery-cities{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gallery-posts{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-header{
    text-align: center;
}
