{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <script src="{% static 'scripts/main.js' %}" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wayfarer - {% block title %}{% endblock %}</title> 
  </head>
  <body >
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-welcome">Welcome: {{user.username}}</li>
        <li class="nav-item">
          <a class="nav-link" href="/cities">Cities</a>
        </li>
        {%if user.profile.id%}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile_view' user.profile.id %}">Profile</a>
        </li>
        {%else%}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_profile_view' %}">Create Profile</a>
        </li>
        {%endif%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
          </li> 
          {% endif %}
          
      </ul>
      
    </div>
  </nav>
  {% block content %}{% endblock %}
  
</body>
</html>