{% extends 'base.html' %}
{% comment %} Cities {% endcomment %}
{% block title %}Cities{% endblock  %}

{% block content %}
<div class="gallery-forum">
  <div class="gallery-cities">
  <h1 class="title pt-5">Cities</h1>
  {% for city in cities %}
  <a href="{% url 'city_detail' city.pk %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{city.image}}" alt="{{city.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{city.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Cities Available</p>
    </div>
  </article>
  {% endfor %}
</div>
<br>
  <a class= "city-button" href="{% url 'city_create' %}">Add City!</a>
  </div>
</div>

  {% endblock %}
