{% extends 'base.html' %}
{% comment %} Cities {% endcomment %}
{% block title %}Cities{% endblock  %}

{% block content %}
<div class="main-city-page">
  <div class="all-cities">
  
    <div class="gallery-forum">
      <div class="gallery-cities">
      <br>
      <h1 class='title'>Cities</h1>
      <br>
      <form class="mb-5" method="get">
        <div class="field has-addons">
          <div class="control">
            <input class="input" type="text" name="name" placeholder="City Name" />
          </div>
          <div class="control">
            <input class="button" type="submit" value="Search" />
          </div>
        </div>
        <div class='search-button'>
        <a class="city-search-button" href="{% url 'city_list' %}"><button class='city-search-button'>Clear Search</button></a>
        
      </div>
      </form>
      <div class='add-city-button'>
        <a class= "city-button" href="{% url 'city_create' %}"><button>Add City!</button></a>
      </div>
      {% for city in cities %}
      <div class="city-links">
      <a class="city-links" href="{% url 'city_detail' city.pk %}">
        <div class="card">
          <div class="card-image">
            <figure class="image is-square">
              <img src="{{city.image}}" alt="{{city.name}}" />
            </figure>
          </div>
          <div class="card-header">
            <p class="card-header-title"><button class="card-header-title">{{city.name}}</button></p>
          </div>
        </div>
      </a>
    </div>
      {% empty %}
      <article class="message">
        <div class="message-header">
          <p>No Cities Available</p>
        </div>
      </article>
      {% endfor %}
    </div>
      </div>
    </div>
  </div>
  
  <div class="posts-city">
    <div class="post-deets">
      <div class="gallery-deets">
        <div class="card-header">
          <h1 class="city-title">{{city.name}}</h1>
        </div>
        <div class="card-post">
          <div class="card-image">
            <figure class="image is-square">
              <img src="{{city.image}}" alt="{{city.name}}" />
            </figure>
          </div>
        </div>
      </a>
      </article>
    </div>
 
      <a class="new-post-btn" href="{% url 'post_create' %}"><button class="btn-new-post">+</button></a>
     
    <br>
    <div class="gallery-posts">
      <h1 class="post-title">Posts</h1>
        {% for post in city.posts.all %}
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                  <span><img src="{{post.image}}" alt="{{post.title}}" /></span>
              </figure>
            </div>
            <div class="card-header-title">
              <a href="{% url 'post_detail' post.pk %}"><button class="card-header-title">{{post.title}}</button></a>
            </div>
          </div>
          {% empty %}
        <article class="message">
          <div class="message-header">
            <p>No Posts Available</p>
          </div>
        </article>
        {% endfor %}
        
      </div>
    </div>
  </div>
</div>



  {% endblock %}