{% extends 'base.html' %} {% block content %}

 {% comment %} <h1 class="title">Edit Profile</h1>
<br/><br/>
<div>    
{%if user.is_authenticated %}
    <form method="post">
        {% csrf_token %} 
        {{ form.as_p }}
        <button>Update Profile</button>
    </form>
</div>
    {%else%}
You Cant be here
    {% endif %}  {% endcomment %}
 <h1 class="title">Edit Profile</h1>
<br/><br/>

  {% if error_message %}
      <p>{{ error_message }}</p>
  {% endif %} 

  <form method="post" action="{% url 'edit_profile_view' profile.id %}">
    {% csrf_token %}
    {{ form.as_p }}  
    <input type="submit" class="btn btn-primary" value="Submit">
  </form> 


{% endblock %} 