{% extends 'base.html' %}
{% block content %}
<div class="homepage">
    <h1 class='title'>Wayfarer Home</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR9Xiu70YcHdnHp7Odh9aSJTjgeHjpWhXNyw&usqp=CAU" alt="travel">

    <h2 class="Wayfarer-is">Wayfarer is..</h2>
    <div class="title-container">
        <div class="title-1">
            <h2>Topic</h2>
            <p>lorem ipsum dolor lorem ipsum dolor sit amet et met null lorem lorem lorem ipsum dolor lorem ipsum dolor sit ametlorem ipsum dolor lorem ipsum dolor sit amet et met null lorem lorem lorem ipsum dolor lorem ipsum dolor sit amet</p>
        </div>
        <div class="title-2">
            <h2>Topic</h2>
            <p>lorem ipsum dolor lorem ipsum dolor sit amet et met null lorem lorem lorem ipsum dolor lorem ipsum dolor sit ametlorem ipsum dolor lorem ipsum dolor sit amet et met null lorem lorem lorem ipsum dolor lorem ipsum dolor sit amet</p>
        </div>
        <div class="title-3">
            <h2>Topic</h2>
            <p>lorem ipsum dolor lorem ipsum dolor sit amet et met null lorem lorem lorem ipsum dolor lorem ipsum dolor sit ametlorem ipsum dolor lorem ipsum dolor sit amet et met null lorem lorem lorem ipsum dolor lorem ipsum dolor sit amet</p>
        </div>
    </div>
</div>
{% endblock %}