{% extends 'base.html' %}
{% block content %}
<div class="homepage">
    <br>
    <h1 class='title'>Wayfarer Home</h1>
    <br>
    <img src="https://wallpaperaccess.com/full/716586.jpg" alt="travel">

    <h2 class="Wayfarer-is">Wayfarer is..</h2>
    <div class="title-container">
        <div class="title-1">
            <h2>Tokyo</h2>
            <p>Tokyo is the capital and most populous prefecture of Japan. Tokyo is the political and economic center of the country, as well as the seat of the Emperor of Japan and the national government. As of 2021, the prefecture has an estimated population of 14.04 million. The Greater Tokyo Area is the most populous metropolitan area in the world, with an estimated 37.468 million residents in 2018.</p>
        </div>
        <div class="title-2">
            <h2>Paris</h2>
            <p>Paris is the capital and most populous city of France, with an estimated population of 2,175,601 residents as of 2018, in an area of more than 105 square kilometres (41 square miles). Since the 17th century, Paris has been one of Europe's major centres of finance, diplomacy, commerce, fashion, gastronomy, science, and arts.</p>
        </div>
        <div class="title-3">
            <h2>New York</h2>
            <p>New York is the most populous city in the United States. With a 2020 population of 8,804,190 distributed over 300.46 square miles (778.2 km2). New York City has been described as the cultural, financial, and media capital of the world, significantly influencing commerce, entertainment, research, technology, education, politics, tourism, art, fashion, and sports.</p>
        </div>
    </div>
</div>
{% endblock %}