{% extends 'base.html' %} {% block content %}
<h1 class="title">Edit Post</h1>
<br/><br/>
<div class="edit-profile-form">    
{%if user.is_authenticated %}
    <form method="post">
        {% csrf_token %} 
        {{ form.as_p }}
        <button class="update-profile">Update Post</button>
    </form>
</div>
    {%else%}
You Cant be here
    {% endif %}


 {% comment %} {% if profile.photo.url %}
    <div class="profile-pic">
        <img src="{{user.profile.image}}" alt="User Image">
    {% else %}
        <img src="../static/main_app/images/default_pic.jpeg" alt="User Image">
        </div>
    {% endif %} {% endcomment %}

{% endblock %}