{% extends 'base.html' %} {% block content %}

<h1 class="Delete-title">Are you sure you want to delete {{post.title}}?</h1>
<form  method="post">
    {% csrf_token %}
    <div class="confirm-delete">
        <div class="buttons">
            <!--confirm post delete-->
            <input class="button-delete" type="submit" value="confirm" />
            <!--redirect back to the post detail on cancel-->
            <a class="button-cancel" href="{% url 'post_detail' post.pk %}"><button>Cancel</button></a>
        </div>
    </div>
    
</form>
{% endblock %}