{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>{{ user.username}}'s Profile</h1>
  <hr />
<div class="">
        <p class="profile-info">Wayfarer since {{user.profile.user.date_joined|date:'M d, Y'}}</p>
        <p class="profile-info">Current City: {{user.profile.current_city}} </p>
        <p class="profile-info">Member Name: {{user.profile.name}}</p>
        {% if user.profile.image %}
            <img class="main-profile-picture" src="{{ user.profile.image }}" alt="{{user.profile.username}} profile photo">
        {% else %}
            <img class="main-profile-picture" src="{% static '/images/User-Profile-PNG-File.png' %}" alt="Wayfarer default profile picture">
        {% endif %}

  </div>
<br></br>

 <form action="{% url 'edit_profile_view' user.profile.id %}">
    <input type="submit" class="btn btn-primary" value="Edit Profile" />
  </form>



<br><br><br>
{% endblock %}


